html, body {
  background-image: url(/../Pictures/christmas.jpg);
  background-size: 70% 100%;
  width:100vw;
  height:100vh;
  overflow: hidden;
  margin-left: 0px;
}
button {
  background-color: red;
  color: white; 
  border: none; 
  padding: 10px 20px; 
  border-radius: 10px; 
  margin-top: 5px; 
  margin-right: 5px; 
  font-size: 16px; 
  cursor: pointer;
}
h1 {
  text-align: center;
  color: rgb(255, 0, 0);
  font-size: 5vh;
  margin-top: 1vh;
  margin-bottom: 1vh;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

canvas {
  display: block;
}
